html,body {
    font-family: arial;
    font-size: 1.1em;
}

/*.container {*/
/*    margin: auto;*/
/*    width: 800px;*/
/*}*/

.heading {
    font-weight: bold;
    font-size: 2em;
    margin: 1em 0;
}

/*.heading2 {*/
/*    font-weight: bold;*/
/*    font-size: 1.5em;*/
/*    margin: .5em 0;*/
/*}*/

/*input,textarea {*/
/*    font-size: 1.1em;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: blue;*/
/*    text-decoration: underline;*/
/*}*/

/*.offscreen {*/
/*    top: -1000px;*/
/*    font-size: 24px;*/
/*}*/

/*.navigation a {*/
/*    outline: none;*/
/*}*/

/*#videoplayer {*/
/*    text-align: center;*/
/*    position: relative;*/
/*    top: -100px;*/
/*}*/

/*.error {*/
/*    color: red;*/
/*}*/

/*#accessibilityBanner {*/
/*    width: 857px;*/
/*    height: 207px;*/
/*    background-image: url(pics/blankbackground.png);*/
/*}*/

/*.text-overlay {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    color: black;*/
/*    font-size: 45px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*}*/

/*:focus {*/
/*    outline: 10px solid fuchsia;*/
/*    outline-offset: 2px;*/
}